<div class="pos-f-t nav-font-size nav-text-center header-fixed" appTHeader>
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <!-- <h4 class="text-white">Collapsed content</h4>
      <span class="text-muted">Toggleable via the navbar brand.</span> -->
      <div class="row nav-menu-font-size">
        <div class="col-sm">
          <a [routerLink]="[ '/' ]"><i class="fa fa-home fa-1g"></i> &nbsp;<label for="" translate="NAVBAR.HOME"></label></a>
        </div>
        <div class="col-sm">
          <a [routerLink]="[ 'array' ]"><i class="fa fa-list fa-1g"></i> &nbsp;<label for="" translate="LESSON.ARRAY"></label></a>
        </div>
        <div class="col-sm">
          <a [routerLink]="[ 'cookie' ]"><i class="fa fa-circle-thin fa-1g"></i> &nbsp;<label for="" translate="LESSON.COOKIE"></label></a>
        </div>
        <div class="col-sm">
          <a [routerLink]="[ 'http-client' ]"><i class="fa fa-table fa-1g"></i> &nbsp;<label for="" translate="LESSON.HTTPCLIENT"></label></a>
        </div>
        <div class="col-sm">
          <a [routerLink]="[ 'web-storage' ]"><i class="fa fa-database fa-1g"></i> &nbsp;<label for="" translate="LESSON.WEBSTORAGE"></label></a>
        </div>
        <div class="col-sm">

        </div>
        <div class="col-sm">

        </div>
        <div class="col-sm">
          <a (click)="changeLanguage('th')">TH</a>/<a (click)="changeLanguage('en')">EN</a>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-dark special-color-dark">
    <button class="navbar-toggler" type="button" style="left: 100em" data-toggle="collapse" data-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <strong><label for="" translate="NAVBAR.TITLE"></label></strong>
    <a class="navbar-brand" [routerLink]="[ '/' ]">
      <i class="fa fa-home fa-2x"></i>
    </a>
  </nav>
</div>
<br>